@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
}

.section_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.formfield {
  border: solid black;
  width: 300px;
  height: 260px;
  background-color: white;
  padding-left: 10px;
}

.formfield__register {
  border: solid black;
  width: 300px;
  height: 100%;
  background-color: white;
  padding-left: 10px;
  padding-bottom: 15px;
}

.title {
  font-weight: 450;
}

.input {
  display: block;
  margin-bottom: 10px;
}

input:focus {
  border: 2px solid #586ad4;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px rgba(11, 28, 189, 0.75);
  -moz-box-shadow: 0px 0px 5px rgba(17, 14, 212, 0.75);
  box-shadow: 0px 0px 5px rgba(29, 9, 209, 0.75);
  outline: none;
}

.button {
  margin-top: 30px;
}

.contact {
  display: inline;
  padding-right: 10px;
}

.contactItem {
  padding-block: 5px;
}

.Navigation {
  display: flex;
  gap: 20px;
  margin: 10px;
  font-size: large;
  font-weight: 500;
}

.Navigation a {
  text-decoration: none;
  color: black;
  margin-inline: 10px;
  &.active {
    color: orange;
  }
}

.Label {
  font-size: 1.1em;
  margin: 10px;
}

.Form_input {
  margin: 10px;
}

.Background {
  background-color: lavenderblush;
  height: 100vh;
}

.Wrapper {
  display: flex;
  gap: 20px;
}
